@import 'val.less';

html, body, .escritoire {
	height: 100%;
}

@header-height: 40px;

.app {

	height: calc(~"100% -"@header-height);

	&.zen-mode {
		height: 100%;
	}
}

header {
	padding: 5px;
	// padding-right: 0;

	height: @header-height;
	@title-width: 40px;

	&.collapsed {
		height: 2px;
	}

	.search {
		position: relative;
		float: right;
		width: 40%;

		.dropdown {
			z-index: 10;
		}

		input[type=text] {
		    font-size: 22px;
		}

		.doc {
			background-color: @fire;

			h3 {
				margin-top: 75px;
			}
		}

		.snippet {
			background-color: @light-earth;

			h3 {
				margin-top: 107px;
			}
		}

		 h3 {
		    width: @title-width;
		    font-size: 32px;
		    font-weight: 300;
		    color: white;
		    float: left;
		    -webkit-transform: rotate(-90deg);
		}

		 ul {
		    background-color: #FFF;
		    margin: 0;
		    margin-left: @title-width;
		    padding: 0;
		    list-style: none;
		}

		.results {
		    min-height: 64px;
		    opacity: 0.35;
		    border-bottom: 1px solid black;
		}

		.results.active {
		    opacity: 1;
		}

		 .results.active .name {
		    color: black;
		}

		.results .name {
		    font-size: 20px;
		    line-height: 30px;
		}

		.results p {
		    margin-bottom: 5px;
		}
	}

	div.element {
		color: whitesmoke;
		display: inline-block;
		cursor: pointer;
		text-align: center;
		padding-left: 10px;
		padding-right: 10px;

		a {
			text-decoration: none;
			color: whitesmoke;
		}

		a:hover {
			color: @sky;
		}

		div.userddl {
			margin-top: 2px;
			float: left;
			position: absolute;
			background-color: @light-earth;
			border: 1px solid whitesmoke;
			z-index: 200;


			ul {
				color: whitesmoke;
				margin: 0;
				padding: 0;
				list-style: none;
				text-align: left;
			}

			ul li:hover,
			ul li:hover a {
				color: @sky;
				background-color: @earth;
			}

			ul li div {
				padding: 1px 10px 1px 10px;
			}
		}
	}

	div.element.open {
		color: @sky;
	}

	div.element:hover {
		color: @sky;
	}
}

.code, .insight {	
	position: relative;
	display: inline-block;
	vertical-align: top;

	float: left;
	width: (100% / 2);
	height: 100%;	
}

.code {
	.expand-collapse {
		right: 0;
		position: absolute;
	    border: 1px solid black;
	    background-color: white;
	    padding: 0 5px 0 5px;
	    margin-top: 5px;
	    margin-right: 12px;
	    z-index: 100;

	    &:hover, &.anchorRight:hover {
			background-color: @sky;
		}
	}

	.error-underliner {
		display: inline-block;
		border-bottom: 1px dashed red;
	}

	&.expanded {
		width: 100%;
	}

	.squiggly-line {
        display: inline-block;

        border: solid 1px #5ccccc;
        border-radius: 50px;

        font-weight: bold;
        height: 5px;
        width: 5px;
	}

	.squiggly-line.curve-top {
        border-bottom: none;
        border-left: none;
        border-right: none;
	}

	.squiggly-line.curve-bottom {
        border-top: none;
        border-left: none;
        border-right: none;
	}
}

.insight {

	.CodeMirror-vscrollbar {
		visibility: hidden;
	}

	.icon-spin {
		position: fixed;
		left: (100% * 3) / 4;
		top: (100% / 2);
		color: black;
		z-index: 1500;
	}

	&.view-disabled {
		display: block;
		background-color: black;
		opacity: 0.9;
		z-index: 1000;
	}
}
