@(snippets: Array[model.SnippetsService.Snippet])
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div style="float:left:width:50%;">
            <form method="get" action="/snippets/search" accept="text/json">
                search : <input type="text" name="q" />
                user: <input type="text" name="u"/>
                <input type="submit" />
            </form>
            <br />
            <form method="post" action="/snippets/add">

                Titre : <input type="text" name="title" />
                <br />Description : <input type="text" name="description" />
                <br />Code (origine) <textarea name="codeOrigin"></textarea>
                <br />Code (parsed) <textarea name="codeParsed"></textarea>
                <br />Tags : <input type="text" name="tags" />
                <br />ScalaVer : <input type="text" name="scalaVer" value="2.10"/>
                <br />User : <input type="text" name="user" value="shmed"/>


                <br /><input type="submit" />
            </form>


        </div>
    <div style="float:right:width:50%;">
     @snippets.map{ snippet =>
        <h3>@snippet.title</h3>
        <h4>by: @snippet.user</h4>
        <p>@snippet.codeOrigin</p>
     }
    </div>
    </body>
</html>