@(user: Option[model.Account])
@main {
    @header(user)
    <div ng-controller="code" class="app">
        <div class="code" ng-class="{'expanded': withInsight==false}">
            <div class="expand-collapse">
                <i class="fa" 
                    ng-class="{'fa-chevron-right': withInsight, 'fa-chevron-left': !withInsight}"
                    ng-click="toogleInsight()"></i>
                <i class="fa fa-resize-full" ng-click="fullscreen()"></i>
                @user.map { url =>
                    <i class="fa fa-floppy-o" ng-click="publish()"></i>
                }.getOrElse{

                }
            </div>
            <textarea ui-codemirror="optionsCode" ng-model="code" ui-keydown="{'enter':'handleKeypress($event)'}"></textarea>
        </div><div class="insight" ng-class="{'' : !isEditorPending, 'fetching': isEditorPending}" ng-show="withInsight">
            <textarea ui-codemirror="optionsInsight" ng-model="insight"></textarea>
        </div>
    </div>
}