@main("Hey") {
<div class="escritoire" ng-controller="CodeCtrl">
    <header>
        <nav>
            <div class="element" ng-click="onUserClick()" ng-class="{'open' : userDropDownShow==true, '' : userDropDownShow==false}">
                <i class="icon-user icon-x"></i>
                <span>User</span>
                <div class="userddl" ng-show="userDropDownShow">
                    <ul>
                        <li>
                            <div ng-click="showSettingsModal()">
                                <i class="icon-cog icon-x"></i>
                                <span>Settings</span>
                            </div>
                        </li>
                        <li>
                            <div ng-click="showSettingsModal()">
                                <i class="icon-signin icon-x"></i>
                                <span>Sign In</span>
                            </div>
                        </li>
                        <li>
                            <div ng-click="showSettingsModal()">
                                <i class="icon-signout icon-x"></i>
                                <span>Sign Out</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="element">
                <i class="icon-book icon-x"></i>
                <span>Browse</span>
            </div>
            <div class="element">
                <i class="icon-question icon-x"></i>
                <span>About</span>
            </div>
            <typeahead class="search" items="all"
                term="term" search="search(term)" select="select(item)">
                <div class="doc">
                    <h3 ng-show="hasDocs()">Doc</h3>
                    <ul>
                        <li typeahead-item="doc" ng-repeat="doc in docs" class="results">
                            <span class="class">{{doc.qualifiedName}}</span>
                            <span class="signature">{{doc.signature}}</span>
                            <textarea ui-codemirror="options3" ng-model="doc.comment.example"></textarea>
                        </li>
                    </ul>
                </div>
                <div class="snippet">
                    <h3 ng-show="hasSnippets()">Snippet</h3>
                    <ul>
                        <li typeahead-item="snippet" ng-repeat="snippet in snippets" class="results">
                            <textarea ui-codemirror="options3" ng-model="snippet.code"></textarea>
                        </li>
                    </ul>
                </div>
            </typeahead>
        </nav>
    </header>

    <div class="app">
        <div class="code">
            <textarea ui-codemirror="options" ng-model="code"></textarea>
        <!-- display: inline-block is space dependent-->
        </div><div class="insight" ng-class="insightState">
            <textarea ui-codemirror="options2" ng-model="insightCode"></textarea>
        </div>

        <!-- TODO: We put the Modal code here -->
    </div>
</div>
}