@(loginForm: Form[(String,String)], errorMsg: Option[String] = None)(implicit request: RequestHeader)

@import helper._
@import securesocial.core.Registry
@import securesocial.core.AuthenticationMethod._
@import securesocial.core.providers.UsernamePasswordProvider.UsernamePassword
@import securesocial.views.html.provider

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Messages("securesocial.login.title")</title>
    <meta name="viewport" content="width=device-width">
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("3.0.0/css/bootstrap.min.css"))'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("3.0.0/css/bootstrap-theme.min.css"))'>
</head>
<body>
    <header>
        <h1>@Messages("securesocial.login.title")</h1>
    </header>

    @errorMsg.map { msg => <div class="alert alert-error">@Messages(msg)</div> }
    @request.flash.get("success").map { msg => <div class="alert alert-info">@msg</div>}
    @request.flash.get("error").map { msg => <div class="alert alert-error"> @msg </div> }
    @defining( Registry.providers.all.values.filter( _.id != UsernamePassword) ) { externalProviders =>
        <section>
            <p>@Messages("securesocial.login.instructions")</p>
            <ul>
                @externalProviders.map { p =>
                    <li>@provider(p.id)</li>
                }
            </ul>
        </section>
    }   
</body>
</html>